:root {
  --black: #000000;
  --white: #ffffff;
  --green: #4B9200;
  --orange-light: #fe9013;
  --orange: #f9804b;
  --yellow: #ffee2e;
  --orange-grad: #fed290;
  --orange-dark: #E47209;
  --pink-grad: #febdab;
  --red: #d31414;
  --black-blue: #333b41;
  --gray: #767474;
  --gray-smoky: #ababab;
  --light-gray: #f1f3f2;
  --white-glass: #fdfdff;
  --white-gray: #e0d8f0;
  --white1: #eaf7fe;
  --gray1: #f5f7f6;
  --gray2: #bdbdbd;
  --black-light: #404950;
  --middle-gray: #72828e;
  --gray3: #929699;
  --line12px: 0.75rem;
  --line18px: 1.125rem;
  --line19px: 1.188rem;
  --line21px: 1.313rem;
  --line20px: 1.3rem;
  --line22px: 1.4rem;
  --line28px: 1.8rem;
  --line29px: 1.813rem;
  --line47px: 2.938rem;
  --line57px: 3.6rem;
  --line79px: 4.992rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-blue);
}

a {
  text-decoration: none;
  color: var(--black-blue);
}

li {
  list-style: none;
}

h1 {
  color: var(--black);
}

.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  background-color: var(--black);
  color: var(--white-glass);
  font-weight: 500;
  line-height: var(--line22px);
  z-index: 50;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  cursor: pointer;
  padding-right: calc(48px + (58 - 48) * (100vw - 1000px) / (1600 - 1000));
}

.designed{
  margin-left: calc(95px + (230 - 95) * (100vw - 1000px) / (1600 - 1000));
}
nav .item:hover {
  background: linear-gradient(113.96deg, var(--orange) 1.49%, var(--orange-light) 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

header ul .item:nth-child(6):hover {
  background: var(--black);
  -webkit-background-clip: var(--black);
  -webkit-text-fill-color: none;
  background-clip: var(--black);
  color: var(--black);
  cursor: default;
}

h1 {
  cursor: default;
}

/* .item:last-child {
  margin-right: 0;
} */

.logo {
 /*  margin-right: 3.938rem; */
  line-height: var(--line12px);
}

.nav-link {
  color: var(--white);
}

.active-link {
  background: linear-gradient(113.96deg, var(--orange) 1.49%, var(--orange-light) 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  cursor: default;
}


.main-button:hover,
.submit:hover {
  cursor: pointer;
  background: var(--orange-dark);
}

.section-watch {
  background-image: url(../../assets/images/panda.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.watch-wrapper {
  max-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 92px;
  padding-left: 820px
}

.circle {
  width:  calc(367px + (465 - 367) * (100vw - 1000px) / (1600 - 1000));
  height: calc(367px + (465 - 367) * (100vw - 1000px) / (1600 - 1000));
  border-radius: 50%;
  background: linear-gradient(113.96deg, var(--orange) 1.49%, var(--orange-light) 101.44%);
  ;
}

.title {
  position: absolute;
  /*top: 4.625rem;*/
  top: calc(59px + (74 - 59) * (100vw - 1000px) / (1600 - 1000));
  /*left: 5.063rem;*/
  left: calc(64px + (81 - 64) * (100vw - 1000px) / (1600 - 1000));
  font-weight: 700;
  font-size: calc(85.2px + (106.5 - 85.2) * (100vw - 1000px) / (1600 - 1000));
  line-height: calc(63.75px + (79.872 - 63.75) * (100vw - 1000px) / (1600 - 1000));
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.colored {
  color: var(--yellow);
}

.main-button {
  width: 18.625rem;
  height: 3.375rem;
  margin: 4.37rem 0 6.25rem 11.563rem;
  border-radius: 25px;
  color: var(--white);
  background: linear-gradient(113.96deg, var(--orange) 1.49%, var(--orange-light) 101.44%);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.container {
  position: relative;
}

.flower-backstage {
  position: relative;
}

.flower-backstage::before {
  content: "";
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 100%;
  height: 105%;
  background: no-repeat url(../../assets/images/flower_foto1.jpg) right;
  z-index: -1;
}

.backstage-wrapper {
  position: relative;
}
.img-container {
  position: relative;
  overflow: hidden;
  min-height: 408px;
  flex: 0 0 calc(455px + (609 - 455) * (100vw - 1000px) / (1600 - 1000));
  /*width: calc(455px + (609 - 455) * (100vw - 1000px) / (1600 - 1000));;*/
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.backstage-wrapper {
  display: flex;
  flex-direction: row;
  gap: calc(31px + (87 - 31) * (100vw - 1000px) / (1600 - 1000));
  padding-top: calc(101px + (140 - 101) * (100vw - 1000px) / (1600 - 1000));
}

h2 {
  font-size: 3rem;
  line-height: var(--line57px);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 1.250rem;
}

p[title] {
  font-size: 1.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container p:nth-child(2) {
  line-height: var(--line20px);
  padding-bottom: 54px;
}

.text-container p:nth-child(3) {
  line-height: var(--line28px);
  padding-bottom: 34px;
}

.text-container p:nth-child(4) {
  line-height: var(--line22px);
}

.arrow {
  position: absolute;
  width: 3.875rem;
  height: 3.875rem;
  background-color: var(--orange);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  top: calc(509px + (578 - 509) * (100vw - 1000px) / (1600 - 1000));
}

.prev {
  background-image: url(../../assets/icons/next.svg);
  transform: rotate(180deg);
  right: calc(553px + (1180 - 553) * (100vw - 1000px) / (1600 - 1000));
}

.next {
  background-image: url(../../assets/icons/next.svg);
  left: calc(558px + (1180 - 558) * (100vw - 1000px) / (1600 - 1000));
}

.arrow:hover,
.prev:hover,
.next:hover {
  background-color: var(--orange-dark);
  cursor: pointer;
}

.active {
  background-color: var(--green);
}

.grid {
  padding-top: calc(140px + (170 - 140) * (100vw - 1000px) / (1600 - 1000));
  display: grid;
  grid-template-columns: repeat(3, 31.6%);
  grid-row-gap: calc(92px + (20 - 90) * (100vw - 1000px) / (1600 - 1000));
  grid-column-gap: 1.875rem;
}

.favorite-wrapper {
  position: relative;
}

.card {
  width: calc(294px + (366 - 294) * (100vw - 1000px) / (1600 - 1000));
  border: 1px solid var(--orange);
  border-radius: 5px;
  padding-bottom: 10px;
}

.card>img {
  display: block;
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.card h5 {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: var(--line22px);
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--black);
}

.card p {
  font-size: 0.938rem;
  font-weight: 300;
  line-height: var(--line18px);
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
}

.veget {
  width: 2.063rem;
  height: 2.313rem;
}

.meat {
  width: 3rem;
  height: 2.375rem;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.75rem 0 1rem;
}

.center {
  margin-top: 5rem;
  margin-left: 27.063rem;
}

.favorite-wrapper::before {
  content: "";
  position: absolute;
  top: 31.438rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(../../assets/images/strelitzia.jpg) right;
  z-index: -1;
}

.favorite-wrapper::after {
  content: "";
  position: absolute;
  top: 25.75rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(../../assets/images/palm_foto.jpg) left;
  z-index: -1;
}

.favorite-container {
  position: relative;
}

.friend-section {
  padding: 4.313rem 0 6.25rem 0;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, var(--pink-grad) 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, var(--white-gray) 80.49%, var(--white1) 127.9%, var(--white1) 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, var(--white-gray) 80.49%, var(--white1) 127.9%, var(--white1) 149.54%);
  opacity: 0.9;
}

.friend-wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 0;
  padding-top: calc(30px + (41 - 30) * (100vw - 1000px) / (1600 - 1000));
  padding-left:  calc(49px + (99 - 49) * (100vw - 1000px) / (1600 - 1000));
}

.friend-wrapper h2 {
  padding: 0 0 1.875rem 15.75rem;
  color: var(--orange-light);
}

.friend-wrapper p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: var(--line28px);
  padding-bottom: 2.5rem;
}

.friend-wrapper p:nth-child(3) {
  font-weight: 500;
  line-height: var(--line20px);
  padding-bottom: 0.625rem;
}

.friend-wrapper p:nth-child(4) {
  font-weight: 400;
  line-height: var(--line20px);
  padding: 0 12.188rem 3.75rem 0;
}

.pay-wrapper {
  display: grid;
  grid-template-columns: 168px 69px 168px 69px 168px;
  grid-column-gap: 1.875rem;
  margin: 0 calc(43px + (99 - 43) * (100vw - 1000px) / (1600 - 1000));
}

h3 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: var(--line47px);
  padding: 0 0 2.5rem 23.563rem;
}

.emergency {
  display: inline-block;
  border-bottom: 1px solid var(--orange-light);
}

.arrows {
  padding-top: 3.688rem;
}

.pic img {
  padding-bottom: 1.75rem;
}

.freind-button {
  margin: 4.125rem 0 3.688rem 20.875rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.testimonials-wrapper {
  align-items: center;
  position: relative;
}

.testimonials-wrapper h3 {
  padding: 0;
  padding-top: 8.75rem;
  padding-bottom: 2.938rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.testimonials-cards {
  column-gap: 1.875rem;
  margin-bottom: calc(12px + (16 - 12) * (100vw - 1000px) / (1600 - 1000));;
}

.feedback-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  position: relative;
  max-width: calc(293px + (268 - 293) * (100vw - 1000px) / (1600 - 1000));
  background: var(--light-gray);
  border-radius: 20px;
  padding: 15px 15px 19px 16px;
  font-size: 15px;
  font-weight: 300;
  line-height: var(--line18px);
  letter-spacing: 0em;
  text-align: left;
}

.img-wrap {
  margin-bottom: 10px;
  background: #000;
  overflow: hidden;
}

.card img {
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
  width: 100%;
  height: auto;
  display: block;
}

.card img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.card-content::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(300deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, var(--white-gray) 80%, var(--white1) 127%, var(--white1) 149%), linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, var(--white-gray) 80%, var(--white1) 127%, var(--white1) 149%);
  border-radius: 20px;
  z-index: -1;
}

.card-content figcaption {
  margin-left: 10px;
}

.card:hover .desc-text h5,
.card:hover .desc-text p {
  transform: translateY(-70px);
  transition: all 0.8s ease-in 0.1s;
  color: var(--white);
}

.card-content figure {
  margin-bottom: 0;
}

.location,
.date {
  font-size: 15px;
  font-weight: 300;
  line-height: var(--line18px);
}

.user {
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line19px);
  color: var(--black);
  letter-spacing: 0em;
  text-align: left;
}

.testimonials-wrapper figure {
  margin-bottom: 10px;
}

.feedback {
  height: 309px;
  overflow: hidden;
}

.testimonials-input {
  display: flex;
  justify-content: center;
}

input[type='range'] {
  justify-content: center;
  appearance: none;
  margin: 0 auto;
  width: calc(400px + (599 - 400) * (100vw - 1000px) / (1600 - 1000));
  height: 6px;
  outline: none;
  position: relative;
  background: var(--gray1);
  border-radius: 5px;
  background-image: linear-gradient(var(--orange-light), var(--orange));
  background-size: 19% 100%;
  background-repeat: no-repeat;
}

input[type='range']:hover {
  background-image: linear-gradient(var(--orange-dark), var(--red));
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  display: none;
}

input[type="range"]::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(300deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, var(--white-gray) 80%, var(--white1) 127%, var(--white1) 149%), linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, var(--white-gray) 80%, var(--white1) 127%, var(--white1) 149%);
  border-radius: 5px;
  z-index: -1;
}

.sq {
  border-radius: 5px;
  margin: 1.563rem 0 11.25rem 0;
}

.testimonials-flower {
  position: relative;
}

.testimonials-flower::before {
  content: "";
  position: absolute;
  top: calc(347px + (390 - 347) * (100vw - 1000px) / (1600 - 1000));
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(../../assets/images/leav_foto.jpg) right;
  background-size:  calc(200px + (250 - 200) * (100vw - 1000px) / (1600 - 1000));
  z-index: -1;
}

.footer {
  background-color: var(--black);
}

.footer-wrapper {
  padding: 41px 0 0 0;
  justify-content: space-between;
}

/* .logo-wrapper {
  margin-right: 6.313rem;
} */

.footer .logo {
  height: 3.25rem;
  margin-bottom: 4.375rem;
}

.footer .logo-link {
  font-size: 0;
}

.footer-subscribe {
  font-size: 16px;
  font-weight: 100;
  line-height: var(--line21px);
  letter-spacing: 0em;
  text-align: left;
  justify-content: space-between;
  /*padding-left: 32px;*/
}

.nav-wrapper {
  justify-content: end;
}

.footer-item {
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line22px);
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
  padding: 0 0 0 60px;
}

footer nav ul li:nth-child(1) {
  color: var(--orange-light);
  margin-left: 12px;
}

.footer h3 {
  padding: 0;
  margin-bottom: 0.875rem;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: var(--line29px);
  letter-spacing: 0em;
  text-align: left;
}

footer input {
  color: var(--gray2);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line22px);
  letter-spacing: 0em;
  text-align: left;
  background: var(--black);
  width: 14.25rem;
  padding: 0.625rem;
  height: 2.625rem;
  border: 1px solid rgba(249, 128, 75);
  margin-right: 0.5rem;
}

.submit {
  width: 8rem;
  height: 2.625rem;
  background: var(--light-gray);
  border-radius: 5px;
  color: var(--red);
  border: 1px solid var(--red);
  cursor: pointer;
}

.submit:active {
  color: var(--green);
  border: 1px solid var(--green);
}

.email:invalid+.submit {
  color: var(--red);
  border: 1px solid var(--red);
}

.email:focus {
  color: var(--green);
  border: 1px solid var(--green);
  outline: none;
}

.email:valid+.submit {
  color: var(--black);
  border: 1px solid var(--black-blue);
}

.email:active,
.email:focus {
  outline: none;
}

.footer-button {
  padding: 0;
  margin: 0;
  margin-bottom: 2.875rem;
}

.footer li {
  margin-bottom: 0.580rem;
}

.social-link {
  display: flex;
  color: var(--white);
  line-height: var(--line22px);
}

.social-link svg {
  margin-right: 0.75rem;
  position: relative;
  bottom: 2px;
}

.social-list a:hover,
.social-list svg circle:hover,
.subscribe-text p:hover {
  color: var(--green);
  fill: var(--green);
}

.subscribe-text {
  color: var(--white);
  padding: 0.625rem 0 0.5rem 8.75rem;
}

.subscribe-text p:nth-child(2) {
  padding-top: 0.625rem;
}

@media (max-width:1000px){
  .content-wrapper {
    max-width: 940px;
  }
/*   .title{
    font-size: calc(54.29px + (85.2 - 54.29) * (100vw - 640px) / (1000 - 640));
  } */
/*   .grid {
    grid-template-columns: repeat(3, calc(285px + (294 - 285) * (100vw - 640px) / (1000 - 640)));
  } */
  h1 {
    margin: 0;
    font-size: 1px;
  }
  .watch-wrapper{
    padding-left: 610px;
    padding-top: 65px;
  }
  .main-button {
    margin: 50px 0 47px 150px;
  }
  .flower-backstage::before {
    background: none;
  }

  .img-container {
    margin: 10px 0;
  }
  h2 {
    padding-bottom: 22px;
  }
  .center {
    margin-top: 80px;
    margin-left: 323px;
    margin-bottom: 140px;
  }
  .favorite-wrapper::before {
    top: 518px;
    background-size: 252px;
}
.favorite-wrapper::after {
  top: 31.75rem;
  background: no-repeat url(../../assets/images/palm_1.jpg) left;
}
.friend-section {
  padding: 27px 0 48px 0;
}
.friend-wrapper h2 {
  padding: 0 0 22px 192px;
}
.friend-wrapper p:nth-child(1) {
  padding-bottom: 0;
}
.friend-wrapper p:nth-child(2) {
  padding-bottom: 21px;
}
.friend-wrapper p:nth-child(3) {
  padding-bottom: 10px;
  padding-right: 80px;
}
.friend-wrapper p:nth-child(4) {
  padding: 0 30px 0 0;
}
h3 {
  padding: 4.2% 0px 5% 35.6%;
}
.freind-button {
  margin: 74px 0 52px 273px;
}
.testimonials-wrapper h3 {
  padding-top: 100px;
  padding-bottom: 32px;
}
.card-content:last-child{
  display: none;
}
.feedback {
  padding-right: 5px;
}

.sq {
  margin: 48px 0 140px 0;
}
.testimonials-flower::before {
  top: 347px;
  background-size: 200px;
}
}